*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
}
h1{
    display: inline;
    padding: 10px;
    font-family: 'calculator';
}
@font-face {
    font-family: 'calculator';
    src: url(font/Calculator.ttf);
}
button{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 900;
    margin-top: 50px;
    margin-left:50px ;
    width: 100px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}
.container{
    padding-top: 20%;
    margin: auto;
    max-width: 400px;
}
.num{
    margin-left:10px ;
    display: inline-block;
}